:root {
    --blue: rgb(6, 60, 91);
    --background-white: #ffffffb5;
    /* --box-shadow:rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h2 {
    margin: 0 auto 2rem auto;
    color: var(--blue);
}

body {
display: grid;
grid-template-columns: 40% 60%;
grid-template-rows: 1fr 1fr 1fr 1fr .5fr;
grid-template-areas:
    'header header'
    'cityName garden'
    'cityName garden'
    'cityName forecast'
    'footer footer';

height: 100vh;
width: 100vw;

font-family: "Rubik", sans-serif;
font-size: 18px;
background-image: url(../images/skyBg.jpeg);
background-attachment: fixed;
margin: 0;
padding: 0 7rem;
}

.header__header {
color: var(--blue);
grid-area: header;
padding: 1.5rem 0;
text-shadow: 1.5px 1.5px 3px rgb(250, 239, 241);

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
padding-bottom: 1rem;
}

.header__header > h1 {
font-size: 3em;
}

.header__city-name {
font-size: 2rem;
}

.header__city-name::before,
.header__city-name::after {
content: "✨";
}
/* ----------------------- */
/* CITY-NAME SECTION START */

.city-name__section {
background-color: var(--background-white);
border-radius: 12px;
padding: 2rem;
text-align: center;
width: 90%;
height: 90%;
box-shadow: var(--box-shadow);

grid-area: cityName;
justify-self: start;
align-self: end;

display: flex;
flex-direction: column;
justify-content: center;
gap: 1rem;
}

.city-name__section img {
width: 8rem;
align-self: center;
justify-self: center;
margin-bottom: 0.5rem;
}

.city-name__section-h2 {
margin-bottom: 1rem;
}

#cityNameInput {
padding: 0.8rem 1rem;
font-size: 1.1rem;
border-radius: 8px;
border: 1px solid #999;
width: 80%;
max-width: 300px;
margin: 0 auto;
}

.city-name__buttons button{
padding: 0.7rem 1.4rem;
font-size: 1rem;
margin: 0.5rem;
border: none;
border-radius: 10px;
cursor: pointer;
font-family: "Rubik", sans-serif;
transition: background-color 0.3s ease;
box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#currentTempButton {
background-color: white;
color: #222;
transition: 0.3s ease;
}

#currentTempButton:hover {
background-color: #f1f1f1;
transform: scale(1.05);
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
border: 1px solid var(--blue);
}

#cityNameReset {
background-color: var(--blue);
color: white;
transition: 0.3s ease;
}

#cityNameReset:hover {
background-color: #0f3b91;
transform: scale(1.05);
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* CITY-NAME SECTION END */
/* --------------------- */

/* ---------------------------- */
/* WEATHER GARDEN SECTION START */

.garden__section {
grid-area: garden;
justify-self: center;
align-content: end;

padding: 1rem;
width: 100%;
}

.garden__section > h2 {
color: white;
font-size: 1.6rem;
margin-bottom: 1rem;
text-align: center;
}

.garden__content {
height: 90%;
width: 100%;
min-width: fit-content;
margin: auto;
padding: 2rem;

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

border-radius: 16px;
font-size: 2em;
box-shadow: var(--box-shadow);
}

/* WEATHER GARDEN SECTION END */
/* ---------------------------- */

/* -------------------------------- */
/* FORECAST CONTROLES SECTION START */
.forecast__section {
grid-area: forecast;
justify-self: center;
align-self: center;

width: 95%;
height: 90%;
background-color: var(--background-white);
border-radius: 8px;
padding: 1rem 1.5rem;
margin-top: 1rem;
box-shadow: var(--box-shadow);
}

.forecast__section h2 {
font-size: 1.2rem;
font-weight: 600;
text-align: center;
margin-bottom: 1rem;
}

.forecast__section-div {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
gap: 1.5rem;
height: 80%;
}

.temperature__section,
.sky__section {
background-color: white;
padding: .5rem 2rem;
border-radius: 8px;
min-width: 220px;
text-align: center;
flex: 1;
height: 90%;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);

display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.temperature__section h3,
.sky__section h3 {font-size: 1.1rem;color: var(--blue);
}

.temperature__content {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 1rem;

width: 50%;
justify-content: space-evenly;
}

.temperature__controls {
display: flex;align-items: 
center;justify-content: 
center;flex-direction: 
column;font-size: 1.6rem;
}

.temp__control-button {
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.temp__control-button:hover {
transform: scale(1.1);
}

#tempValue {
font-size: 2rem;
font-weight: bold;
}

.temp__units-unit {
cursor: pointer;
transition: 0.3 ease;
}

.temp__units-unit:hover {
font-weight: bold;
}

.temp__units-unit.selected {
font-weight: bold;
}

.temp__units-unit:hover .temp__units-unit.selected:not(:hover){
font-weight: 400;
}

#skySelect {
font-size: 1rem;
padding: 0.4rem 0.6rem;
border-radius: 6px;
border: 1px solid #ccc;
width: 60%;
}


/* ---------------*/
/* FOOTER SECTION */

footer {
grid-area: footer;
align-content: end;
text-align: center;
font-size: 0.9rem;
padding: 1rem 0;
color: var(--blue);
line-height: 1.5;
}

/* ----------------------*/
/* COLORS WEATHER PALETTE*/

.red {
color: red;
}

.orange {
color: orange;
}

.yellow {
color: gold;
}

.yellow-green {
color: yellowgreen;
}

.green {
color: green;
}

.teal {
color: teal;
}

.blue {
color: rgb(38, 38, 196)
}

.skyClouds {
background: linear-gradient(rgba(221, 242, 250, 0.576), rgba(124, 183, 239, 0.646)), url(../images/clouds.jpeg);
background-size: cover;
background-position:center;
}

.skyClear {
background-image: url(../images/clear.jpg);
background-size: cover;
background-position:top;
}

.skyRain {
background: linear-gradient(rgba(221, 242, 250, 0.576), rgba(147, 154, 160, 0.646)), url(../images/rain.jpeg);
background-size: cover;
background-position:center;
}

.skySnow {
background-image: linear-gradient(rgba(221, 242, 250, 0.576), rgba(124, 183, 239, 0.646)), url(../images/snow.jpg);
background-size: cover;
background-position:center;
}

.skyThunderstorm {
background-image: url(../images/thunderstorm.jpeg);
background-size: cover;
background-position:center;
}

.skyFog {
background-image: url(../images/fog.jpg);
background-size: cover;
background-position:center;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

/* ---------- Small Screens  ---------- */
@media (max-width: 1024px) {
body {
grid-template-columns: 1fr;
grid-template-rows: auto auto auto auto auto;
grid-template-areas:
    "header"
    "cityName"
    "garden"
    "forecast"
    "footer";
width: 100vw;
}

.header__header {
flex-direction: column;
align-items: center;
padding-bottom: 1rem;
}

.city-name__section img {
display: none;
}

.garden__section {
width: 100%;
height: 25rem;
padding: 0
}

.forecast__section-div {
    align-items: center;
}

.city-name__section {
width: 100%;
justify-self: center;
}

.city-name__section-input {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

#cityNameInput {
margin: 0;
}

.temperature__section,
.sky__section {
    flex-direction: column;
    width: 100%;
    min-width: unset;
}

.temperature__content {
width: 100%;
justify-content: space-around;
}

.temperature__controls {
flex-direction: row-reverse;
width: 50%;
justify-content: space-around;
}

.forecast__section {
height: 15rem;
}
}
/* ---------- Ipads / Tablets ---------- */
@media (max-width: 768px) {
body {
font-size: 16px;
padding: 0 2rem;
}

h2 {
margin: 0;
}

.header__header {
    padding: 3rem 0;
}

.header__header > h1 {
font-size: 2rem;
}

.header__city-name {
font-size: 1.4rem;
}

.city-name__section {
width: 100%;
padding: 1.5rem 1rem;
}

#cityNameInput {
width: 100%;
}

.garden__section {
height: 15rem;
}

.garden__content {
font-size: 1.5rem;
padding: 1.5rem;
}

.forecast__section-div {
gap: 1rem;
}

footer {
font-size: 1rem;
padding: 1rem 0;
}
}

/* ---------- Phones ---------- */
@media (max-width: 480px) {
body {
font-size: 16px;
padding: 0 0.5rem;
}

h2 {
font-size: 1.1rem;
}

.header__header {
padding: 1.5rem 1rem 1rem 1rem;
text-align: center;
}

.header__header > h1 {
margin-right: 0;
font-size: 1.8rem;
text-align: center;
}

.header__city-name {
font-size: 1.3rem;
}

.city-name__section-input {
flex-direction: column;
align-items:center;
}

#cityNameInput {
font-size: 1rem;
padding: 0.7rem 0.8rem;
}

.forecast__section {
width: 100%;
padding: 1rem;
}

.forecast__section h2{
font-size: 1.1rem;
margin-bottom: 10px;
}

.forecast__section-div {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
}

.sky__section h3, .temperature__section h3{
font-size: 1rem;
}
.sky__section {
flex-direction: row;
}

.temperature__content{
padding: 5px;
}
footer {
font-size: 0.8rem;
padding: 2rem 0;
}
}
